footer {
  text-align: right;
  color: #fff;
  font-size: 12px;
  padding: 22px 90px 10px 0px;
  line-height: 18px;
  background: #002f34;
}

.button-color {
  background-color: #2a65ea;
  color: #ffffff;
}
